[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
pandas = "==1.4.1"
matplotlib = "==3.5.1"
seaborn = "==0.11.2"
pyarrow = "==8.0.0"
mlflow = "==1.26.0"
protobuf = "3.20"
hyperopt = "==0.2.7"
prefect = "2.0b5"
nbconvert = "==6.5.0"

[dev-packages]

[requires]
python_version = "3.9"
